{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1>Register</h1>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email, {
                        attr: {
                            'class': 'form-control'
                        }
                    }) }}
                    {{ form_row(registrationForm.name, {
                        attr: {
                            'class': 'form-control'
                        }
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password',
                        attr: {
                            'class': 'form-control'
                        }
                    }) }}
                    {{ form_row(registrationForm.agreeTerms,  {

                    }) }}

                    <button type="submit" class="btn btn-primary mt-2 mb-4">Register</button>
                {{ form_end(registrationForm) }}
                Already have an account ?
                <a href="{{ path('app_login') }}">Log in</a>
            </div>
        </div>
    </div>
{% endblock %}
