{{ form_start(form, {
    attr: {
        'action': action,
    },
}) }}
    {{ form_row(form.title, {
        attr: {
            'class': 'form-control'
        }
    }) }}
    {% if app.request.attributes.get('_route') == "admin_post_edit" %}
        {{ form_row(form.user, {
            'label': 'Author',
            attr: {
                'class': 'form-control',
            }
        }) }}
    {% endif %}

    {{ form_row(form.chapeau, {
        attr: {
            'class': 'form-control',
        },
    }) }}
    {{ form_row(form.content, {
        attr: {
            'class': 'form-control',
            'rows': '7'
        },
    }) }}
    <button class="btn btn-primary mt-4" type="submit">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
