{% extends 'admin/base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block admin_body %}
    <div class="container-fluid mt-4">
        <div class="row mb-3">
            <div class="col-8">
                <h1>Edit Post</h1>

                {{ include('admin/post/_form.html.twig', { 'button_label': 'Update', 'action': path('post_edit', { id: post.id }) }) }}
            </div>
        </div>

        <h3>Comments</h3>
        <div class="table-responsive mb-5">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Validation</th>
                    <th scope="col">Is valid</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in post.comments %}
                        <tr>
                            <th scope="row">{{ comment.id }}</th>
                            <td>{{ comment.user.name }}</td>
                            <td>{{ comment.content }}</td>
                            <td>{{comment.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td>
                                    <form action="{{ path('comment_validation', { id: comment.id }) }}" method="POST">
                                        <button type="submit" class="btn">
                                            {% if comment.isValid %}
                                                <i class="fas fa-times text-danger"></i>
                                            {% else %}
                                                <i class="fas fa-check text-success"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                            </td>
                            <td>{{ comment.isValid ? 'Yes' : 'No' }}</td>
                            <td>
                                {{ include('comment/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
