{{ form_start(form, {
    attr: {
        'action': path('contact_new')
    }
}) }}
    {{ form_row(form.name, {
        attr: {
            'class': 'form-control'
        }
    }) }}
    {{ form_row(form.email, {
        attr: {
            'class': 'form-control'
        }
    }) }}
    {{ form_row(form.message, {
        attr: {
            'class': 'form-control',
            'rows': '8'
        }
    }) }}
    <button class="btn btn-primary mt-2">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
