{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="d-flex justify-content-between mb-3">
                        <span>
                            Author : {{ post.user }}
                        </span>
                        <span>
                            Date : {{ post.updatedAt|date('Y-m-d H:i:s') }}
                        </span>
                    </div>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        </div>
    </div>

    {{ include('comment/_form.html.twig', { 'action': path('comment_new'), 'post' : post.id }) }}

        {% for comment in post.comments %}
            <div class="row mb-4">
                {% if comment.isValid %}
                    <div class="col-lg-8 fw-bold">
                        {{ comment.user.name }}
                    </div> 
                    <div class="col-lg-4">
                        {{comment.createdAt|date('Y-m-d H:i:s') }} <br>
                    </div>
                {% endif %}
                <div class="row mt-2">
                    <div class="col-lg-9">
                        {{ comment.content }} 
                    </div>
                </div>
            </div>
        {% endfor %}

{% endblock %}
